<!DOCTYPE html>
<html lang="en">

<head>
    <title>9gag</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/bootstrap.css">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="container text-center">

        {{#posts}}
        <div class="post">
            <h1>{{{title}}}</h1>
            {{#if isVideo}}
            <video autoplay loop controls muted class="embed-responsive-item">
                <source src="{{content}}" type="video/mp4">
            </video>
            {{else}}
            <img src="{{content}}" class="img-responsive img-thumbnail" alt="post"> {{/if}}
            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#{{id}}">Show Comments</button>
            <div id="{{id}}" class="collapse">
                {{#comments}}
                <div class="comment">
                    <b>{{user}}: </b>
                    {{#if isText}} {{{content}}} {{else}}
                    <br>
                    <img src="{{content}}" class="img-responsive img-thumbnail" alt="comment"> {{/if}} {{#if reply}}
                    <div class="reply">
                        {{#with reply}}
                        <b>{{user}}: </b>
                        {{#if isText}} {{{content}}} {{else}}
                        <br>
                        <img src="{{content}}" class="img-responsive img-thumbnail" alt="comment"> {{/if}} {{/with}}
                    </div>
                    {{/if}}
                </div>
                {{/comments}}
            </div>
        </div>
        {{/posts}}

    </div>
    <script src="static/jquery.js"></script>
    <script src="static/bootstrap.js"></script>
</body>

</html>
